.Page {
	background: $black;
	color: $white;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	z-index: $z-index-pages;

	&__wrapper {
		padding-left: 1.7rem;
		display: flex;
		z-index: 999999;

		@include breakpoint-max('small') {
			padding-left: 15px;
		}

		a {
			color: currentColor;
		}
		@include breakpoint-max('small') {
			flex-direction: column;
		}
		@include breakpoint('small') {
			padding-left: 2.3rem;
		}
	}
	&__left {
		flex: 0 0 50%;
		height: 100vh;
		padding-top: 2.4rem;
		top: 0;
		@include breakpoint('small') {
			position: sticky;
		}
	}
	&__title {
		line-height: 0.3;
		color: white;
		font-size: 2rem;
	}
	&__caps {
		color: white;
		margin-top: 0.8rem;
		margin-right: 4rem;
		display: block;
		line-height: 1.1;
		font-size: 2rem;

		@include breakpoint-max('small') {
			margin-right: 15px;
		}
		@include breakpoint-max('small') {
			margin-bottom: 1.8rem;
		}
	}
	&__right {
		width: 100%;
		padding-top: 2.4rem;
		color: white;
		padding-right: 1.7rem;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		margin-right: 0;
		right: 0;
		top: 0;

		@include breakpoint-max('small') {
			padding-right: 15px;
		}

		@include breakpoint('small') {
			margin-right: 2.3rem;
		}

		& > p {
			line-height: 1.35;
			font-size: 1.15em;
		}
	}
	&__other {
		margin-top: 1.8rem;
		margin-right: 2.3rem;
		padding-bottom: 2rem;
	}
	&__text {
		p {
			margin-bottom: 1em;
		}
	}
}
