.snipcart-modal__container {
	background: #f5f5f5;
	@include breakpoint("small") {
		width: 50% !important;
		left: auto !important;
		right: 0 !important;
	}
	.snipcart-modal {
		background: transparent;
	}
	/// header
	.snipcart-cart-header {
		padding: 1rem 32px 0;
		margin: 0;
		height: 3.25rem;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #f5f5f5;
		justify-content: center;
		text-align: center;
		z-index: 1;
		pointer-events: none;
	}
	.snipcart-cart-header__title {
		font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
			"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", "Helvetica", "Arial", sans-serif;
		padding: 0 0.7rem;
		height: 1.8em;
		text-transform: uppercase;
		text-decoration: none !important;
		font-size: 0.9rem;
		border: 1px solid transparent;
		font-weight: normal;
	}
	.snipcart-cart-header__options {
		display: none;
	}
	.snipcart-modal__close {
		pointer-events: all;
		position: absolute;
		top: 0;
		right: 0;
		color: black;
		cursor: pointer;
		display: block;
		height: 3.25rem;
		position: fixed;
		right: 0;
		width: 3.25rem;
		margin-left: auto;
		z-index: 10;
		&:focus {
			outline: none;
		}
		svg,
		span {
			display: none;
		}
		&:before,
		&:after {
			content: "";
			background-color: black;
			display: block;
			height: 1px;
			left: calc(50% - 8px);
			position: absolute;
			-webkit-transform-origin: center;
			transform-origin: center;
			-webkit-transition-duration: 86ms;
			transition-duration: 86ms;
			-webkit-transition-property: background-color, opacity,
				-webkit-transform;
			transition-property: background-color, opacity, -webkit-transform;
			transition-property: background-color, opacity, transform;
			transition-property: background-color, opacity, transform,
				-webkit-transform;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			width: 22px;
			&:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}

		&:before {
			top: calc(50% - 6px);
		}
		&:after {
			top: calc(50% - 1px);
		}

		&:before {
			-webkit-transform: translateY(5px) rotate(45deg);
			transform: translateY(5px) rotate(45deg);
		}
		&:after {
			-webkit-transform: translateY(0px) rotate(-45deg);
			transform: translateY(0px) rotate(-45deg);
		}
	}
	// main
	.snipcart-layout__content {
		width: 100%;
		height: 100%;
		background: #f5f5f5;
		overflow-y: scroll;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: scroll;
		padding: 1rem 32px 0;
	}
	.snipcart__font--secondary,
	.snipcart__font--subtitle {
		font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
			"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", "Helvetica", "Arial", sans-serif;
		font-weight: normal !important;
	}
	.snipcart__actions--link {
		position: absolute;
		left: 0;
		color: black;
		text-align: center;
		font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
			"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", "Helvetica", "Arial", sans-serif;
		padding: 0;

		text-transform: uppercase;
		text-decoration: none !important;
		font-size: 0.9rem;
		font-weight: normal;
	}
	.snipcart-cart__content {
		padding-top: 40px;
		background: #f5f5f5;

		.snipcart-item-line {
			background: transparent;
			box-shadow: none;
		}
		.snipcart-item-line__container {
			padding: 0;
		}
		.snipcart-item-line__image {
			width: 100%;
		}
		.snipcart-item-line__media {
			width: 26%;
			margin-right: 20px;
		}
		.snipcart-item-line__header,
		.snipcart-item-line__info {
			padding: 0;
			padding-right: 30px;
			margin: 0;
		}
		.snipcart__box--header {
			position: relative;
		}

		// .snipcart-item-custom-fields {
		// 	display: none;
		// }
		.snipcart-item-line__variants {
			flex-wrap: wrap;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		.snipcart-item-line__body {
			padding-bottom: 40px;
		}
		.snipcart-item-quantity {
			width: 100%;
			display: flex;
		}
		.snipcart-item-quantity__label {
			margin: 0;
		}
		.snipcart-item-quantity__quantity-price-container {
			width: 100%;
		}
		.snipcart-item-quantity__quantity {
			display: flex;
			align-items: center;
			color: black;
			line-height: normal;
			height: auto;
			padding-left: 8px;
			padding-right: 8px;
			background-color: transparent;
			justify-content: space-between;
			border: 0;
			width: auto;
		}
		.snipcart-item-line__product,
		.snipcart-cart-summary-fees {
			position: relative;
			* {
				font-size: 20px;
				line-height: 1.35;
				font-family: "BradfordLLWeb-Book", "Times New Roman", Times,
					serif;
				font-weight: normal;
			}
		}

		.snipcart-item-line__actions {
			position: absolute;
			top: 0;
			right: 0;
			&:focus {
				outline: none;
			}
			.snipcart__button--icon {
				position: relative;
				color: black;
				cursor: pointer;
				display: block;
				height: 22px;
				width: 22px;
				padding: 0;
				margin: 0;
				z-index: 10;
				&:focus {
					outline: none;
				}
				svg,
				span {
					display: none;
				}
				&:before,
				&:after {
					content: "";
					background-color: black;
					display: block;
					height: 1px;
					left: calc(50% - 8px);
					position: absolute;
					-webkit-transform-origin: center;
					transform-origin: center;
					-webkit-transition-duration: 86ms;
					transition-duration: 86ms;
					-webkit-transition-property: background-color, opacity,
						-webkit-transform;
					transition-property: background-color, opacity,
						-webkit-transform;
					transition-property: background-color, opacity, transform;
					transition-property: background-color, opacity, transform,
						-webkit-transform;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
					width: 22px;
					&:hover {
						background-color: rgba(0, 0, 0, 0.2);
					}
				}

				&:before {
					top: calc(50% - 6px);
				}
				&:after {
					top: calc(50% - 1px);
				}

				&:before {
					-webkit-transform: translateY(5px) rotate(45deg);
					transform: translateY(5px) rotate(45deg);
				}
				&:after {
					-webkit-transform: translateY(0px) rotate(-45deg);
					transform: translateY(0px) rotate(-45deg);
				}
			}
		}

		.snipcart-cart__footer-col {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.cart__footer-discount-box,
		.snipcart-cart__featured-payment-methods-container {
			display: none;
		}
		.snipcart-cart-button {
			z-index: 1;
			font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
				"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
				"Helvetica Neue", "Helvetica", "Arial", sans-serif;
			padding: 0 0.7rem;
			height: 1.8em;
			text-transform: uppercase;
			text-decoration: none !important;
			font-size: 0.9rem;
			border: 1px solid transparent;
			color: black;
			user-select: none;
			outline: none;
			border-radius: 70px;
			align-items: center;
			display: flex;
			position: relative;
			cursor: pointer;
			background: transparent !important;
			font-weight: normal;
			box-shadow: none !important;

			border-color: black;
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: -10%;
				right: -10%;
				width: auto;
				height: 100%;
				z-index: -1;
				transform: translate(0, -50%) rotate(45deg);
				transition: transform 0.5s ease;
				padding-bottom: 100%;

				background: linear-gradient(
					0deg,
					rgba(255, 255, 255, 1) 10%,
					rgba(100, 100, 100, 1) 100%
				);
			}

			&:hover::before {
				transform: translate(0, -50%) rotate(-45deg);
			}
			.snipcart-cart-button__icon {
				display: none;
			}
		}
		.snipcart-cart-summary-fees__title {
			text-transform: uppercase;
			padding-right: 20px;
		}
		.snipcart-cart-summary-fees__item {
			display: flex;
			padding: 0;
		}
		.snipcart-cart-summary-fees__notice {
			margin-top: 0;
		}
		.snipcart-cart__footer {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px 32px;
			background: #f5f5f5;
		}
		.snipcart-item-list {
			margin-bottom: 120px;
		}
	}
	.snipcart-checkout__header {
		background: transparent;
	}
	.snipcart-checkout__content {
		.snipcart-layout__cols {
			flex-wrap: wrap;
		}
		.snipcart-layout__col {
			width: 100%;
			padding: 0;
			margin: 0;
		}
		.snipcart__box--title {
			padding: 0 0.7rem;
			height: 1.8em;
			text-transform: uppercase;
			text-decoration: none !important;
			font-size: 0.9rem;
			border: 1px solid transparent;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.snipcart__box--badge {
				display: none;
			}
		}
		.snipcart-billing-completed__step-title {
			display: block;
			font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
				"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
				"Helvetica Neue", "Helvetica", "Arial", sans-serif;
			text-transform: uppercase;
			text-decoration: none !important;
			font-size: 0.9rem;
		}
		.snipcart-payment-form {
			background: white;
		}
		.snipcart__icon--blue-dark path {
			fill: black;
		}
		.snipcart__font--std {
			font-size: 20px;
			line-height: 1.35;
			font-family: "BradfordLLWeb-Book", "Times New Roman", Times, serif;
			font-weight: normal;
		}
		.snipcart-form {
			background: transparent;
			box-shadow: none;
		}
		.snipcart__box {
			padding: 0;
			background: transparent !important;
		}
		.snipcart__font--subtitle {
			width: 100%;
			text-align: center;
			font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
				"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
				"Helvetica Neue", "Helvetica", "Arial", sans-serif;
			padding: 0 0.7rem;

			text-transform: uppercase;
			text-decoration: none !important;
			font-size: 0.9rem;
			font-weight: normal;
			display: block;
		}
		.snipcart-form__footer {
			display: flex;
			justify-content: center;
			padding: 10px 0;
			z-index: 1;
		}
		.snipcart-cart-button {
			z-index: 1;
			font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
				"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
				"Helvetica Neue", "Helvetica", "Arial", sans-serif;
			padding: 0 0.7rem;
			height: 1.8em;
			text-transform: uppercase;
			text-decoration: none !important;
			font-size: 0.9rem;
			border: 1px solid transparent;
			color: black;
			user-select: none;
			outline: none;
			border-radius: 70px;
			align-items: center;
			display: flex;
			position: relative;
			cursor: pointer;
			background: transparent !important;
			font-weight: normal;
			box-shadow: none !important;

			border-color: black;
			overflow: hidden;
			width: auto;

			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: -10%;
				right: -10%;
				width: auto;
				height: 100%;
				z-index: -1;
				transform: translate(0, -50%) rotate(45deg);
				transition: transform 0.5s ease;
				padding-bottom: 100%;

				background: linear-gradient(
					0deg,
					rgba(255, 255, 255, 1) 10%,
					rgba(100, 100, 100, 1) 100%
				);
			}

			&:hover::before {
				transform: translate(0, -50%) rotate(-45deg);
			}
			.snipcart-cart-button__icon {
				display: none;
			}
		}
		.snipcart-form__label,
		.snipcart-typeahead__suggestion {
			font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
				"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
				"Helvetica Neue", "Helvetica", "Arial", sans-serif;
			font-weight: normal;
			color: black;
			font-size: 15px;
		}
		.snipcart-input__input,
		.snipcart-form__select {
			font-size: 20px;
			line-height: 1.35;
			font-family: "BradfordLLWeb-Book", "Times New Roman", Times, serif;
			font-weight: normal;
		}
		.snipcart-typeahead__suggestions {
			border-color: white;
		}
		.snipcart-form__select {
			border: 0 !important;
			box-shadow: none !important;
		}
		.snipcart-input {
			border: 0 !important;
			box-shadow: none !important;
			padding: 0;
			// z-index: 1;
			input {
				padding: 0 10px;
			}
		}
		.snipcart-typeahead__suggestions {
			z-index: 11;
		}
		.snipcart-layout__col {
			display: none;
			&--large {
				display: block;
			}
		}
	}
}
