* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
li,
p {
	font-family: $font-family;
}
p > a {
	text-decoration: underline;
}

body {
	background: black;
	color: white;

	@include breakpoint("small") {
		background: white;
		color: black;
	}
}

@include breakpoint-max("small") {
	html {
		overflow-x: hidden;
	}

	.navbar {
		display: none;
	}
}

/// square - i dont know what this is
.square {
	position: relative;
	width: 100%;
	background-image: url("../img/logo.png");
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
//btn

.btn {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding: 0 0.7rem;
	height: 1.8em;
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: 0.9rem;
	border: 1px solid transparent;
	color: black;
	user-select: none;
	outline: none;
	border-radius: 70px;
	align-items: center;
	display: flex;
	position: relative;
	cursor: pointer;
	z-index: 1;

	&--cart {
		border-color: black;
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: -10%;
			right: -10%;
			width: auto;
			height: 100%;
			z-index: -1;
			transform: translate(0, -50%) rotate(45deg);
			transition: transform 0.5s ease;
			padding-bottom: 100%;

			background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 1) 10%,
				rgba(100, 100, 100, 1) 100%
			);
		}

		&:hover::before {
			transform: translate(0, -50%) rotate(-45deg);
		}
	}
}
