.type-sm {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal !important;
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: 0.9rem;
}

.type-copy {
	font-size: 16px;
	line-height: 1.35;
	font-family: "BradfordLLWeb-Book", "Times New Roman", Times, serif;
	font-weight: normal;

	@include breakpoint("small") {
		font-size: 20px;
	}
}

.btn-snip {
	z-index: 1;
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding: 0 0.7rem;
	height: 1.8em;
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: 0.9rem;
	border: 1px solid transparent;
	color: black;
	user-select: none;
	outline: none;
	border-radius: 70px;
	align-items: center;
	display: flex;
	position: relative;
	cursor: pointer;
	background: transparent !important;
	font-weight: normal;
	box-shadow: none !important;

	border-color: black;
	overflow: hidden;

	width: auto;

	&.snipcart-cart-button--loading {
		display: none;
	}

	transition: 0.5s !important;
	background-size: 200% auto !important;
	background-image: linear-gradient(
		to right,
		#fff 0%,
		#646464 51%,
		#fff 100%
	) !important;

	&:hover {
		background-position: right center !important; /* change the direction of the change here */
	}

	.snipcart-cart-button__icon {
		display: none;
	}
}
