.MagicLogo {
	position: fixed;
	right: 0;
	z-index: 9;
	pointer-events: none;
	mix-blend-mode: difference;
	background-size: 0;
	background-repeat: no-repeat;
	width: 620px;

	@include breakpoint-max('small') {
		left: 0;
		width: 310px;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		pointer-events: none;
		opacity: 0;
	}

	.rectangle {
		background-attachment: fixed;
		background-position-x: 100%;
		background-position-y: 20%;
		background-size: contain;
		background-repeat: no-repeat;
		display: inline-block;
		mix-blend-mode: difference;
		background-blend-mode: screen;
		height: 80px;
		width: 20px;
		float: left;

		@include breakpoint-max('small') {
			height: 40px;
			width: 10px;
		}
	}
	&.not-active {
		.rectangle-background {
			background: $white;

			@include breakpoint('small') {
				background: $black;
			}
		}
	}
	.rectangle-background {
		background-image: inherit;
	}
}
