.Item {
	max-width: 45%;
	margin-bottom: 20px;

	@include breakpoint-max('small') {
		max-width: 90%;
	}

	&__main {
		display: flex;
	}

	&__thumb {
		width: 80px;
		padding-right: 15px;
		@include breakpoint('small') {
			width: 110px;
		}
		.is-selected & {
			opacity: 0;
			pointer-events: none;
		}
	}

	h1,
	h2 {
		@include title;
	}
	&:first-child {
		margin-top: 20px;
	}
	&:hover {
		cursor: pointer;
	}

	&.is-selected {
		padding-left: 16px;

		h1,
		h2 {
			@include title-big;
		}
	}
	&__header {
		display: block;
		width: 100%;
		width: calc(100% - 80px);

		@include breakpoint('small') {
			width: calc(100% - 110px);
		}
	}
	&__type {
		@include menu;
		text-transform: uppercase;
	}
	&__title {
	}
	&__meta {
	}
}
