.Item {
	max-width: 45%;
	margin-bottom: 20px;

	@include breakpoint-max('small') {
		max-width: 80%;
	}

	h1,
	h2 {
		@include title;
	}
	&:first-child {
		margin-top: 20px;
	}
	&:hover {
		cursor: pointer;
	}

	&.is-selected {
		padding-left: 16px;

		h1,
		h2 {
			@include title-big;
		}
	}
	&__header {
		display: block;
	}
	&__type {
		@include menu;
		text-transform: uppercase;
	}
	&__title {
	}
	&__meta {
	}
}
