// Z-index Setup

$next-z-index: 0;

/// Z-index incrementer
/// @group settings
/// @requires {variable} next-z-index
/// @return {Number}

@function get-next-z-index() {
	$next-z-index: $next-z-index + 1 !global;
	@return $next-z-index;
}

$z-index-main: get-next-z-index();
$z-index-headerbelow: get-next-z-index();
$z-index-hero: get-next-z-index();
$z-index-header: get-next-z-index();
$z-index-pages: get-next-z-index();
