.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.menu-label
  text-align: left
.menu-list
  list-style: none !important
  text-align: left


@import "~bulma"


// responsiveness
