h1,
h2,
h3,
p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
}

.article-detail {
	flex: 0 0 50%;
	background-color: lightgrey;
	z-index: 999;
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	right: 0;
	width: 50%;
	height: 100vh;
	top: 0;
}
/* NAVBAR ESCAPING FROM BULMA */
.container {
	margin: 0 2.5em !important;
}

.navbar-menu {
	margin-top: 1rem;
}
.navbar-item {
	padding: 0.7rem;
	height: 1.3em;
	margin-right: 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	color: black;
}

.navbar-item.active {
	border: 1px solid black;
	border-radius: 70px;
}
/*
.navbar-item:focus {
	border: 1px solid black;
	border-radius: 49%/100%;
} */

.article-list {
	margin-left: 1.8rem;
	flex: 0 0 50%;
	background-blend-mode: screen;
}

.post {
	max-width: 76%;
	margin-top: 3em;
}

.post:hover {
	cursor: pointer;
}

.post-type {
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.article-detail-title {
	text-align: center;
	font-size: 2em;
	margin-bottom: .7em;
	margin-top: 3rem;
}

.article-image-wrapper {
	width: 80%;
	margin: 0 auto;
}

.article-detail-description {
	margin: 2em;
	text-align: left;
}

.wrapper {
	display: flex;
}

#magic-logo {
	position: fixed;
	/* width: 100%; */
	/* height: 100%; */
	right: 45%;
	z-index: 9;
	pointer-events: none;
}

#mobile-magic-logo {
	display: none;
	width: 100%;
}

@media screen and (max-width: 900px) {
	#mobile-magic-logo {
		display: block;
	}

	#magic-logo {
		position: static;
		display: none;
	}

	#right {
		display: none;
	}

	.phrase {
		width: 100%;
	}
}

.square {
	position: relative;
	width: 100%;
	background-image: url("logo.png");
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.rectangle {
	height: 80px;
	width: 20px;
	float: left;
	background-color: black;
	/* background-image: linear-gradient(to right, #000000 0%, #ffffff 100%); */
	background-attachment: fixed;
	background-position-x: 30%;
	background-position-y: 20%;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	mix-blend-mode: difference;
	background-blend-mode: screen;
	/* opacity: 0.85; */
}

.close {
	position: absolute;
	right: 2rem;
	top: 1rem;
	width: 10px;
}

.close:hover {
	opacity: 1;
}

.close:before,
.close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 14px;
	width: 2px;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
