.article-detail {
    /* width: 50%; */
    flex: 0 0 50%;
    background-color: aliceblue
}

.article-list {
    /* width:50%; */
    flex: 0 0 50%;
}
.article-detail-title {
    text-align: center;
    font-size:2em;
    margin-bottom: .7em;
}

.article-image-wrapper {
    width: 80%;
    margin: 0 auto
}

.article-detail-description {
    margin-top: 2em;
    text-align: center;
}


.wrapper {
    display: flex;
}

#magic-logo {
    position: fixed;
    width: 620px;
    right: 0;
    z-index: 999;
}

#mobile-magic-logo {
    display: none;
    width: 100%;
}

@media screen and (max-width: 900px)  {
    #mobile-magic-logo {
        display: block;
    }

    #magic-logo {
        position: static;
        display: none;
    }

    #right {
        display: none;
    }

    .phrase {
        width: 100%;
    }
}

.square {
    position: relative;
    width: 100%;
    background-image: url("logo.png");

}


.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.rectangle {
    height: 80px;
    width: 20px;
    float: left;
    background-color: black;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    display: inline-block;
}