.article-detail {
    /* width: 50%; */
    flex: 0 0 50%;
    background-color: aliceblue
}

.article-list {
    /* width:50%; */
    flex: 0 0 50%;
}
.article-detail-title {
    text-align: center;
    font-size:2em;
    margin-bottom: .7em;
}

.article-image-wrapper {
    width: 80%;
    margin: 0 auto
}

.article-detail-description {
    margin-top: 2em;
    text-align: center;
}


.wrapper {
    display: flex;
}
