.Footer {
	width: 100%;
	text-transform: uppercase;
	@include menu;
	position: relative;

	&__inner {
		width: 100%;
		display: flex;
		padding: 10px 28px;

		a {
			text-transform: uppercase;
			user-select: none;
			display: block;

			@include breakpoint('small') {
				padding: 4px 10px;
				border: 1px solid transparent;
				border-radius: 70px;
			}

			@include hover {
				color: $grey;
			}

			&.is-active {
				border-color: currentColor;
			}
		}
		ul {
			display: flex;
			width: 100%;
		}
		li {
			margin-right: 16px;
		}
	}
}
