*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
input {
	box-sizing: border-box;
}

* {
	-moz-font-feature-settings: 'kern' 1;
	-ms-font-feature-settings: 'kern' 1;
	-o-font-feature-settings: 'kern' 1;
	-webkit-font-feature-settings: 'kern' 1;
	font-feature-settings: 'kern' 1;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;

	&::-moz-selection {
		background: rgba($black, 0.1);
	}
	&::selection {
		background: rgba($black, 0.1);
	}
}

html,
body {
	width: 100vw;
}

html {
	height: 100vh;
	width: 100vw;
	font-size: 15px;
	line-height: 18px;
}

body {
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

body {
	background: $background;
	font-family: $font-family;
	color: $text-color;

	overflow-x: hidden;
	overflow-y: scroll;

	background: $black;
	color: $white;

	@include breakpoint('small') {
		background: $background;
		color: $text-color;
	}
}

.button-reset {
	border: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	background-color: transparent;
	border-radius: 0;
}

input {
	background-color: transparent;
	font-family: $font-family;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

form {
	width: 100%;
}

table {
	width: 100%;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

button {
	font-family: $font-family;

	cursor: pointer;
	border-radius: 0;
	text-transform: inherit;
}

:focus:not(.focus-ring) {
	outline-width: 0;
}

/* CLASSES */

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.inline {
	display: inline-block;
}

* {
	@include hide-scrollbar;
}

svg {
	display: block;
	width: 100%;
	fill: currentColor;
}
