@font-face {
	font-family: 'BradfordLLWeb-Book';
	src: url('../../fonts/BradfordLLWeb-Book.woff2') format('woff2'),
		url('../../fonts/BradfordLLWeb-Book.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}
