// @include font(font-family, font-weight, font-size, line-height, letter-spacing)
// all values according to 1500px photoshop file.
// returns viewport font-sizes and em line-height.

body {
	@include body;
}
input,
label,
textarea {
	@include body;
}

p {
}

h1,
h2,
h3,
h4,
h5 {
	@include title;
	b,
	strong {
		font-weight: 400;
	}
}
// h1 {
//   @include h1;
// }
// h2 {
//   @include h2;
// }
// h3 {
//   @include h3;
// }
// h4 {
//   @include h4;
// }
// h5 {
//   @include body;
// }
a {
	position: relative;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
